@page
@model GC_Subscription.Pages.AdminDashboard.Products.MockupModel
@{
}

<div class="container py-5">
    <h1 class="text-center mb-5">Adminpanel for færdigretter</h1>
    <div class="row">
        @for (int i = 0; i < 12; i++)
        {
            <div class="col-lg-3 mb-4">
                <div class="card meal-box-card">
                    <img src="~/images/009ff709-9c3e-4069-b0e8-1e0b57de559c_test.png" class="card-img-top" alt="...">
                    <div class="card-header">
                        <h5>Færdigret @(i + 1)</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <button type="button" class="btn btn-success btn-sm mb-2">Kostvaner</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success btn-sm mb-2">Allergier</button>
                        </div>
                        <p class="card-text card-text-price">kr. 85,-</p>
                        <div align="right">
                            <a href="#" class="btn-link"><i class="fas fa-info-circle"></i></a> <!-- Details/Open icon -->
                            <a href="#" class="btn-link"><i class="fas fa-edit"></i></a> <!-- Edit icon -->
                            <a href="#" class="btn-link"><i class="far fa-trash-alt" style="color: red;"></i></a> <!-- Delete icon -->
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


