@page
@model GC_Subscription.Pages.Buy.Step2Model

@{
    ViewData["Title"] = "Step2";
}

<h2>Ordrebekræftelse</h2>
<hr />
<div class="row">
    <div class="col-12">
        <p>
            Vi har modtaget din ordre.
        </p>
    </div>
</div>

@if (Request.Method == "POST")
{

    <h2>Posted Data:</h2>
    <ul>
        @foreach (var item in Model.PostData)
        {
            <li><strong>@item.Key:</strong> @item.Value</li>
        }
    </ul>

}
<div>
    <a asp-page="/Index">Tilbage til forsiden</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
