.display-6 {
    font-size: 1.65rem !important;
}

img.product-image {
    border-radius: 20px;
}

.admin-panel-inner-container {
    border-radius: 8px;
    border: 1px solid darkgrey !important;
    padding: 16px 0px 16px 10px;
    text-align: center !important;
    margin-top: 50% !important;
}

.admin-panel {
    text-align: left !important;
}


.admin-panel a.nav-link {
    color: #000 !important;
}

.admin-panel a.nav-link.active {
    font-weight: bold;
}

.admin-panel a.nav-link:hover {
    text-decoration: underline;
}

.meal-box-card {
    border: 2px solid;
    border-radius: 15px;
    transition: transform 0.2s ease;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

    .meal-box-card:hover {
        transform: translateY(-5px);
    }

.card-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 15px;
}

.card-text-price {
    font-size: 2rem;
}

.btn-link {
    margin-left: 5px;
}