@page
@model GC_Subscription.Pages.Mealboxes.DetailsModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Måltidskasse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Navn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mealbox.Name)
        </dd>
        <dt class="col-sm-2">
            Beskrivelse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mealbox.Description)
        </dd>
        <dt class="col-sm-2">
            Pris
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mealbox.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mealbox.Id">Rediger</a> |
    <a asp-page="./Index">Tilbage til oversigten</a>
</div>
