@page
@model IndexModel
@{
    ViewData["Title"] = "Velkommen til Ghostchef";
}

<div class="text-center mb-5">
    <h1 class="display-4">Færdigretter & måltidskasser lige til din dør, på hele Sjælland</h1>
    <p>
        Ghostchef tilbyder skræddersyede ugekasser fyldt med lækre måltider, der passer til enhver smag. Vores dedikation til kvalitet og friskhed sikrer, at du får den bedste madoplevelse. 
        Spar tid og forkæl dig selv med Ghostchefs ugekasser, hvor gode måltider er lavet med kærlighed og omhu.
    </p>
    <d>
</div>

<div class="buy-button text-center">
    <a href="/Buy" class="btn btn-lg btn-success shadow-md">Køb måltidskasse</a>
</div>