@page
@model GC_Subscription.Pages.Diets.EditModel

@{
    ViewData["Title"] = "Rediger Kostpræference";
}

<h1>Rediger</h1>

<h4>Kostpræference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Diet.Id" />
            <div class="form-group">
                <label asp-for="Diet.Name" class="control-label">Navn</label>
                <input asp-for="Diet.Name" class="form-control" />
                <span asp-validation-for="Diet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Tilbage til oversigten</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
