@page
@model GC_Subscription.Pages.Diets.IndexModel

@{
    ViewData["Title"] = "Kostpræferencer";
}

<h1>Kostpræferencer</h1>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Diet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
